/*body-content*/

.body-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.content input,.content text,.content textarea{
    max-width:2000px;
}
/**/

.breadcrumbs {
    margin-bottom: 12px;
}
.nav-text {
    font-size: 1.2em;
}
.navbit-arrow {
    margin: 0 6px;
    vertical-align: baseline;
}
/* Button Styles
---------------------------------------- */

.buttons {
    float: left;
    width: auto;
    height: auto;
}
.buttons div {
    float: left;
    margin: 0 12px 0 0;
    background-position: 0 100%;
}
.buttons div a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 0px 0px;
    position: relative;
    overflow: hidden;
}
.topic-actions {
    margin-bottom: 3px;
    height: 28px;
    min-height: 28px;
    overflow: hidden;
}
div[class].topic-actions {
    height: auto;
}
.topic-actions .buttons {
    margin-bottom: 12px;
}
.buttons div.post-icon,
.buttons div.reply-icon {
    width: 114px;
    height: 32px;
}
.buttons div span {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.buttons div a:hover span {
    background-position: 0 100%;
}
.post-icon span,
.reply-icon span {
    background: transparent none 0 0 no-repeat;
}
.post-icon span {
    background-image: url("../image/button_topic_new.png");
}
.reply-icon span {
    background-image: url("../image/button_topic_reply.png");
}
/* Animation
---------------------------------------- */

.button1,
.button2,
.inputbox {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.search-box .button2 {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}
/* Search box
--------------------------------------------- */

.search-box {
    color: #43A6DF;
    float: left;
    white-space: nowrap;
    /* For Opera */
}
.search-box-inner {
    display: inline-block;
    width: 250px;
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    height: 32px;
    padding: 2px;
}
.search-box #keywords {
    height: 26px;
    width: 200px;
    background-color: #FFF;
}
.search-box input {
    border: 1px solid #b0b0b0;
}
.search-box .inputbox {
    padding: 2px 0 2px 6px;
}
.topic-actions .search-box {
    margin: 0 0 12px;
}
/* .button1 style defined later, just a few tweaks for the search button version */

.search-box input.button1 {
    padding: 1px 5px;
}
.search-box li {
    text-align: right;
    margin-top: 4px;
}
.search-box img {
    vertical-align: middle;
    margin-right: 3px;
}
.search-box .inputbox:hover,
.search-box .inputbox:focus {
    border: 0;
}
.search-box {
    color: #FFFFFF;
}
.search-box #keywords {
    background-color: #FFF;
}
.search-box input {
    border: 0;
}
.search-box .search-box-inner .button2 {
    border: 0;
    cursor: pointer;
    float: right;
    height: 26px;
    padding: 0;
    text-indent: -9999px;
    width: 26px !important;
    background-attachment: scroll;
    background-image: url("../image/search-button-bg.png");
    background-position: left top;
}
.search-box .search-box-inner .button2:hover {
    background-position: left bottom;
}
input.search {
    background-image: none;
    background-repeat: no-repeat;
    background-position: left 1px;
    padding-left: 6px;
}
input.tiny {
    width: 125px;
}
.tiny {
    width: 10%;
}
.inputbox {
    background-color: #FFFFFF;
    border: 1px solid #c0c0c0;
    color: #333333;
    padding: 2px;
    cursor: text;
}
.inputbox:hover {
    border: 1px solid #eaeaea;
}
.inputbox:focus {
    border: 1px solid #eaeaea;
    color: #4b4b4b;
}
input.inputbox {
    width: 85%;
}
.inputbox {
    background-color: #F7F7F7;
    border-color: #E4E4E4;
    color: #333333;
    padding: 6px;
}
.inputbox:hover {
    border-color: #43A6DF;
}
.inputbox:focus {
    border-color: #43A6DF;
    background-color: #F7F7F7;
}
/* Pagination
---------------------------------------- */

.pagination {
    height: 1%;
    /* IE tweak (holly hack) */
    width: auto;
    text-align: right;
    margin-top: 5px;
    float: right;
    font-size: 1.1em;
}
.pagination strong,
.pagination b {
    font-weight: normal;
}
/**/

.forum-list {
    margin-bottom: 12px;
}
.forum-list table thead {
    background-color: #43A6DF;
}
.forum-list table thead th a {
    color: #fff;
}
.forum-list table thead th {
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 0.2px;
    color: #fff;
    border-bottom-width: 0px;
    text-align: center;
}
.icon {
    float: left;
}
.forum-list table tbody tr {
    border-bottom: 1px solid #E4E4E4;
}
.forum-list table tr td:nth-child(2),
.forum-list table tr td:nth-child(3) {
    text-align: center;
    vertical-align: middle;
}
.forum-list table tr td:last-child {
    padding-right: -1px;
}
/* Links for forum/topic lists */

a.forum-title {
    color: #000;
    font-size: 1.077em;
    font-weight: normal;
    text-decoration: none;
}
/* a.forumtitle:visited { color: #898989; } */

a.forum-title:hover {
    color: #d86f1e;
    text-decoration: underline;
}
a.forum-title:active {
    color: #898989;
}
a.topic-title {
    font-size: 1.077em;
    font-weight: bold;
    text-decoration: none;
}
/* a.topictitle:visited { color: #d2d2d2; } */

a.topic-title:hover {
    color: #bcbcbc;
    text-decoration: underline;
}
a.topic-title:active {
    color: #898989;
}
/**/

.dark-header {
    background-color: #2E3539;
    line-height: 48px;
    padding: 0 12px;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 0;
}
.dark-header a {
    color: #ffffff !important;
}
.dark-header-content {
    background-color: #ffffff;
    padding: 12px;
    border-bottom: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
    margin-bottom: 12px;
}
/* Sidebar blocks
---------------------------------------- */

.sidebar {
    margin-bottom: 12px;
}
.sidebar-block {
    margin-bottom: 12px;
}
.sidebar-block:last-child {
    margin-bottom: 0;
}
.sidebar-block-header {
    background-color: #2E3539;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    padding: 12px 28px;
    letter-spacing: 0;
    margin: 0 auto;
}
.sidebar-block-content {
    background: #FFFFFF;
    border: solid 1px #E4E4E4;
    color: #424242;
    padding: 16px 12px;
}
.sidebar ul {
    list-style-image: url(../image/book-close.png);
    margin-bottom: 1em;
    font-size: 1.2em;
}
.sidebar ul li {
    margin: 0.35em auto;
}
.sidebar ul li:hover {
    list-style-image: url(../image/book-open.png);
}
.sidebar ul li a {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: #2e2e2e;
}
.sidebar ul li a:hover {
    background-color: #6fcaf2;
}
.sidebar ul li a:hover {
    text-decoration: none;
    color: #F7F7F7;
}
/* Post body styles
----------------------------------------*/

.post {
    padding: 12px;
    margin-bottom: 12px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    border: solid 1px #E4E4E4;
}
.postbody {
    padding: 0;
    line-height: 1.48em;
    color: #333333;
    width: 76%;
    float: left;
    clear: both;
}
.postbody .ignore {
    font-size: 1.1em;
}
.postbody h3.first {
    /* The first post on the page uses this */
    font-size: 1.077em;
}
.postbody h3 {
    /* Postbody requires a different h3 format - so change it here */
    font-size: 1.077em;
    font-weight: 300;
    padding: 2px 0 0 0;
    margin: 0 0 0.3em 0;
    text-transform: none;
    border: none;
    font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    line-height: 125%;
}
.postbody .content {
    border-top: solid 1px #E4E4E4;
    padding-top: 12px;
    margin-top: 6px;
}
/* Poster profile block
----------------------------------------*/

.postprofile {
    /* Also see tweaks.css */
    margin: 5px 0 10px 0;
    min-height: 80px;
    color: #666666;
    border-left: 1px solid #FFFFFF;
    width: 22%;
    float: right;
    display: inline;
}
.postprofile dd,
.postprofile dt {
    line-height: 1.2em;
    margin-left: 8px;
}
.postprofile strong {
    font-weight: normal;
    color: #000000;
}
.avatar {
    border: none;
    margin-bottom: 3px;
}
.online {
    background-image: none;
    background-position: 100% 0;
    background-repeat: no-repeat;
}
#viewprofile .panel {
    overflow: hidden;
}
/* Profile links */

.postprofile a:link,
.postprofile a:visited,
.postprofile dt.author a {
    font-weight: bold;
    color: #898989;
    text-decoration: none;
}
.postprofile a:hover,
.postprofile dt.author a:hover {
    text-decoration: underline;
    color: #d3d3d3;
}
.postprofile a:active {
    font-weight: bold;
    color: #898989;
    text-decoration: none;
}
/* Back to top of page */

.back2top {
    clear: both;
    height: auto;
}
a.top {
    float: right;
}
@media only screen and (min-width: 1199px) {
    #subheader-menu li {
        background-image: none !important;
    }
}
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    #wrap {
        width: 940px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .search-box-inner {
        width: 200px;
    }
    .search-box #keywords {
        width: 150px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .search-box {
        width: 100%;
    }
    .search-box-inner {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 32px;
    }
    .search-box #keywords {
        width: 90%;
    }
}